<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Hello</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />

</head>
    <body>
        <h1>タスク一覧</h1>
        <table>
            <thead>
            <tr>
                <th class="id">ID</th>
                <th class="name">課題名</th>
                <th class="actualMinute">所要時間</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="task : ${tasks}">
                <td class="id" th:text="${task['id']}"></td>
                <td class="name" th:text="${task['name']}"></td>
                <td class="actualMinute" th:text="${task['actualMinute']}"></td>
            </tr>
            </tbody>
        </table>
    </body>
</html>